<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="main-div">
        <div class="inner-div">Gourmet au Catering</div>

        <div class="inner-div"> </div>

        <div class="inner-div">
            <span><a href="#about">About</a></span>
            <span><a href="#menu">menu</a></span>
            <span><a href="#contact">Contact</a></span>
        </div>

    </div>





    <div class="image">
        <img src="https://www.w3schools.com/w3images/hamburger.jpg" alt="">
    </div>


    <div class="image-text">
        <span>Le Catering</span>

    </div>


   

    <div class="inner-content">

        <div id="about">
        <div class="inner-about">
            <img src="https://www.w3schools.com/w3images/tablesetting2.jpg" alt="">

        </div>

        <div class="inner-about">
            <h1>About Catering</h1>
            <p>Tradition since 1889</p>
            <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients.</p>
            
            <p class="second-para">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


        </div>

    </div>


    <div id="menu">
        <div class="inner-menu">
          <div class="inner-menu-div">
              <h1>Our Menu</h1>
           <div>
             <h3>Bread Basket</h3>
            <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
           </div>
           <div>
             <h3>Bread Basket</h3>
            <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
           </div>
           <div>
             <h3>Bread Basket</h3>
            <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
           </div>
           <div>
             <h3>Bread Basket</h3>
            <p>Assortment of fresh baked fruit breads and muffins 5.50</p>
           </div>
          </div>
            
          
        </div>
        <div class="inner-menu">
            <img src="https://www.w3schools.com/w3images/tablesetting.jpg" alt="">
        </div>
    </div>
    <hr>
   <div id="contact">
     <h1>Contact</h1>
    
    <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.

</p>
<h3>Catering Service, 42nd Living St, 43043 New York, NY</h3>
<p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
<form action="">
    <!-- <label for="">Name</label><br> -->
    <input type="text" name="" id="" placeholder="Name"><hr>
    
    <!-- <label for="">How many people</label><br> -->
    <input type="number" name="" id="" placeholder="How many people"><hr>

    <!-- <label for="">date:</label><br> -->
    <input type="datetime" name="" id="" placeholder="datetime"><hr>

    <!-- <label for="">message \ speacial requirements</label><br> -->
    <input type="text" name="" id="" placeholder="message \ speacial requirements"><hr>

    <button>SEND MESSAGE</button>
</form>

   </div>


    </div>


     <div class="footer">
    <h4>Powered by <b>Vinay Orugonda..</b></h4>
    
   </div>







    
</body>
</html>