*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    /* border: 1px solid black; */
    width: 704px;
    height: 704px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    /* position: relative;   */
    /* position:fixed; */
    margin: auto;
}
.item{
    width: 87.6px;
    height: 87.6px;
    /* height: 90px; */
    /* border: 1px solid; */
    padding: 8px;
    text-align: center;
    font-size: 60px;
}
.even-row:nth-child(even){
    background-color: rgb(232, 188, 188);
    /* color: white; */
}
.odd-row:nth-child(odd){
    background-color: rgb(232, 188, 188);
}

.white{
    color: rgb(0, 161, 43);
}

.name{
    position: absolute;
    top:38%;
    left: 35%;
    font-size: 120px;
    color: lightgray;
}

.design{
    margin-top: 20px;
    text-align: center;
}